<!doctype html>
<html land="en">
	<head>
		<meta charset="utf-8">
		<title>Rap God</title>
		<meta name="description" content="Artificial Intelligence Rap Generator">
		<meta name="author" content="Ted Spare, Dexter Storey, Jonah Dutz, Dom Defelice, Caleb Hoyne">
		<script src="../static/scripts/chart.min.js"></script>
		<script src="../static/scripts/soundcloud.js"></script>
		<script src="../static/scripts/jquery-3.2.1.min.js"></script>
		<link href="../static/style/style.css" rel ="stylesheet" type="text/css">
	</head>

	<body>
		<div id="particles-js"></div>
		<script src="../static/scripts/particles.js"></script>
		<script src="../static/scripts/app.js"></script>
		<div class="pages">
			<div id="stats">
				<p id="epoch"></p>
				<p id="generated"></p>
				<p id="step"></p>
				<p id="loss"></p>
			</div>
			<div id="page3" class="page">
				<div id="loading" class="title">
				<h2>Generating...</h2>
					<div id="myProgress">
						<div id="myBar">0%</div>
					</div>
				</div>
				<div id="rap">
					<h2 id="YourRap"></h2>
					<p id="your_Rap" style="font-size:2vw"></p>
					<form method="post" id="re-generate">
						<button>Re-Generate</button>
					</form>
				</div>
			</div>
			<div id="page1" class="page">
				<div class="title">
					<h1>RapGod.io</h1>
					<h2>An Artificial Intelligence Rap Bot</h2>
					<h3>Created by: Ted Spare, Dexter Storey, Jonah Dutz, Dom Defelice and Caleb Hoyne</h3>
					<form method="post" id="generate">
						<button>Generate</button>
					</form>
				</div>
			</div>
			<div id="page2" class="page">
				<div class="block">
					<h1>How It Works</h1>
					<p>Using <b>Machine Learning Algorithms</b> and <b>Word Processing Python Script,</b>this bot will generate raps that will get better with user inputs. Every 80 milliseconds, our code iterates through a database of ~50,000 rap lyrics from some of our favourite rappers including:</p>

					<p id="rappers">Kanye West, Kendric Lamar, Chance the Rapper, Common, Childish Gambino, A Tribe Called Quest, 2Pac, Pusha T, Kid Cudi, Biggie Smalls, Drake, Jay-Z, Snoop Dogg, Digable Planets, Young Thug, Earl Sweatshirt, Vince Staples and Cousin Stizz</p>
					<ul class="links">
						<li><a href="https://soundcloud.com/user-622412850">SoundCloud</a></li>
						<li><a href="Spotify.com">Spotify</a></li>
						<li><a href="Apple.com">Apple Music</a></li>
					</ul>

					<p class="center">Here is the live output of the learning progress:</p>
					<div id=graph"><canvas height=20vw id="chart"></canvas></div>

					<p>The loss is the difference between the current rapping ability and a hypothetical god-like singluatrity rapper that is the best of all time</p>
				</div>
			</div>
		</div>
	<iframe width="0" height="0" scrolling="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/167505592&color=%23ff5500&auto_play=true&hide_related=true&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual&auto_play=true=false"></iframe>
	</body>
	<script src="../static/scripts/script.js"></script>
</html>